<h1><%= @coach.full_name %></h1>
<hr>
<h5>Add new Appointment</h5>
<%= form_for @new_appointment do |f| %>
  <%= f.datetime_select :start_time, ampm: true %>
  <%= f.hidden_field 'coach_id', value: @coach.id %>
  <%= f.submit class: 'btn btn-success'%>
<% end %>
<hr>
<div class='inline-block'>
  <%= link_to 'All Appointments', coach_path(@coach.id)%> | 
  <%= link_to 'Open Appointments', coach_path(@coach.id, appointment_type: 'open')%> | 
  <%= link_to 'Booked Appointments', coach_path(@coach.id, appointment_type: 'booked')%> | 
  <%= link_to 'Completed Appointments', coach_path(@coach.id, appointment_type: 'completed')%>
</div>
<% @appointments.each do |a| %>
  <div class='row border w-25 p-1 my-3 rounded'>
    <h5><%= a.box_header %></h5>
    <% if a.student_id.present? %>
      <p><%= a.student.full_name %></p>
    <% end %>
    <p>Start Time: <%= a.start_time.strftime('%D %I:%M%P') %></p>
    <p>End Time: <%= a.end_time.strftime('%D %I:%M%P') %></p>
    <% if a.show_phone_number? %>
      <p>Phone Number: <%= a.student.phone_number %></p>
    <% end %>
    <% if a.can_review? %>
      <%= link_to 'Add Review', new_appointment_review_path(appt_id: a.id), class: 'btn btn-success' %>
    <% end %>
    <% if a.has_review? %>
      <hr>
      <p class='fw-bold'>Review</p>
      <p>Rating: <%= a.appointment_review.rating %></p>
      <p>Notes:</p>
        <p><%= a.appointment_review.notes %></p>
    <% end %>
  </div>
<% end %>